/* * {
  border: 1px red solid;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url(./images/bg-pattern-top-desktop.svg),
                    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 75%;
}

h1 {
  font-size: 3.5rem;
  color: var(--very-dark-magenta);
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.hero__rate__container {
  display: flex;
  height: 250px;
}


.hero__container,
.rate__container {
  flex: 1;
}


.hero__container h1 {
  margin-top: 18px;
  line-height: 3rem;
  margin-bottom: 1.7rem;
}

.hero__container p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.55rem;
  color: var(--dark-gray-magenta);
}

.rate__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
  margin-top: 44px;
}

.rate {
  display: flex;
  background: var(--light-gray-magenta);
  color: var(--very-dark-magenta);
  width: 415px;
  height: 60px;
  align-items: center;
  padding-left: 30px;
  gap: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.rate:first-child {
  margin-left: 15px;
}

.rate:nth-child(2) {
  margin-left: 63px;
}

.rate:nth-child(3) {
  margin-bottom: 5px;
  margin-left: 110px;
}


.rate__text {
  font-size: 1.07rem;
  font-weight: 700;
  margin-left: 20px;
}

.review__cards__container {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.review__card {
    background: var(--very-dark-magenta);
    padding: 30px;
    color: white;
    border-radius: 8px;
    width: 290px;
    height: 175px;
}

.review__card:nth-child(2) {
  margin-bottom: 16px;
}

.review__card:nth-child(1) {
  margin-bottom: 32px;
}

.buyer__info__container {
  padding-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.buyer__info__container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buyer__info {
  margin-left: 20px;
}

.buyer__name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 0;
}

.verified {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--soft-pink);
}

.review__text {
    line-height: 1.38rem;
    font-size: 1rem;
    font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dark-gray-magenta);
}
.attribution a {
  color: var(--very-dark-magenta);
  text-decoration: none;
  font-weight: 500;
}

:root {
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral */
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
}
